@model Gestor_de_gastos_pessoais_data.Domain.Models.Gastos
<style>



    .modal select {
        color: black !important;
    }

</style>
<div class="modal fade modal-xl" id="ModalGastos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered modal-black" role="document">
        <div class="modal-content  bg-black" id="demo">
            <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div class="step-app">
                    <ul class="step-steps">
                        <li data-step-target="step1">Step 1</li>
                        <li data-step-target="step2">Step 2</li>
                        <li data-step-target="step3">Step 3</li>
                    </ul>
                    <div class="step-content py-3">
                        <div class="step-tab-panel py-3" data-step="step1">
                            <div class="row d-flex justify-content-center">
                                <div class="col-3 text-center">
                                    <label class="form-check-label font-weight-bold" for="selectsd">Selecione seu gasto</label>
                                    <select asp-for="LocalGastoid" class="select form-control-lg w-100" id="selectsd">
                                        <option value="">Selecione o tipo de gasto</option>
                                        @foreach (var tipoGasto in ViewBag.TiposGastos)
                                        {
                                            <option value="@tipoGasto.Id">@tipoGasto.Descricao</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="step-tab-panel " data-step="step2" style="color:black;">
                            <div class="row d-flex justify-content-center">
                                <div class="col-4 text-center">
                                    <div class="input-group">
                                        <select asp-for="LocalGastoid" class="select form-control-lg" id="selectadfgsds">
                                            <option value="">Selecione o local do gasto</option>
                                            @foreach (var local in ViewBag.LocaisGastos)
                                            {
                                                <option value="@local.Id">@local.Descricao</option>
                                            }
                                        </select>
                                        <div class="input-group-append px-1 m-0">
                                            <button class="btn btn-primary m-0 h-100" type="button" data-bs-toggle="modal" data-bs-target="#ModalLocal">
                                                <span class="material-symbols-outlined">
                                                    add
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                        <div class="step-tab-panel" data-step="step3">
                            ...
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="step-app">
                    <div class="step-footer">
                        <button data-step-action="prev" class="step-btn">Previous</button>
                        <button data-step-action="next" class="step-btn">Next</button>
                        <button data-step-action="finish" class="step-btn">Finish</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="ModalLocal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar Local </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="cadastrar_local" id="modalLocal">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label asp-for="Descricao" class="form-label"></label>
                        <input asp-for="Descricao" class="form-control" required>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label asp-for="LocalGasto.Logradouro" class="form-label"></label>
                            <input asp-for="LocalGasto.Logradouro" class="form-control">
                            <span asp-validation-for="LocalGasto.Logradouro" class="text-danger"></span>

                        </div>
                        <div class="col-6">
                            <label asp-for="LocalGasto.Numero" class="form-label"></label>
                            <input asp-for="LocalGasto.Numero" class="form-control">
                            <span asp-validation-for="LocalGasto.Numero" class="text-danger"></span>

                        </div>
                    
                    </div>
               
                    <div class="mb-3">
                        <label asp-for="LocalGasto.Cnhpj" class="form-label"></label>
                        <input asp-for="LocalGasto.Cnhpj" class="form-control">
                        <span asp-validation-for="LocalGasto.Cnhpj" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LocalGasto.Cnhpj" class="form-label"></label>
                        <input asp-for="LocalGasto.Cnhpj" class="form-control">
                        <span asp-validation-for="LocalGasto.Cnhpj" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LocalGasto.Telefone" class="form-label"></label>
                        <input asp-for="LocalGasto.Telefone" class="form-control">
                        <span asp-validation-for="LocalGasto.Telefone" class="text-danger"></span>
                    </div>

            
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ModalGastos">Close</button>
                <button type="button" class="btn btn-primary" id="modalgastosalve">salvar </button>
            </div>
        </div>
    </div>
</div>
@section script {
<script>
    $(document).ready(async function () {
            $('#modalgastosalve').on('click', async function (e) {
            e.preventDefault();
            console.log('teste');
                const formData = $('#modalLocal').().reduce((acc, { name, value }) => {
                    if (name.startsWith('LocalGasto.')) {
                        name = name.replace('LocalGasto.', '');
                    }
                    acc[propertyName] = value;
                    return acc;
                }, {});

            try {

                    const result = await $.post('@Url.Action("Create", "LocalGastosAdm", new { area = "Admin" })', { model: formData, __RequestVerificationToken: formData.__RequestVerificationToken });
                console.log(result);
            } catch (error) {
                console.log(error.responseText);
            }
        });
    });

</script>

            }